/*Body*/
body {
	margin: 0px;
	padding: 0px;
	background-color: #94bcd1; /*Light Blue*/
}


/*Header Div Class*/
.header {
	background-color: #4c9598; /*Medium Green*/
	text-align: center;
	margin: 0px;
	padding-top: 20px;
	padding-bottom: 25px;
	border-top: 2px;
	border-bottom: 5px solid #2a544a; /*Dark Green*/;
}


/*Navigation Div Classes*/
/*Main Nav Bar*/
.nav1 {
	background-color: #2a544a; /*Dark Green*/
	margin: 0px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.nav1 a {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 24px;
	font-weight: bold;
	color: #eddbe6; /*Light Pink*/
}
.nav1 ul li {
	display: inline;
	padding-right: 60px;
	padding-left: 60px;
}
.nav1 li:not(.active) a:hover {
	color: white;
	text-shadow: 1px 1px 18px rgba(204, 204, 102, 0.6);
	text-decoration: none;
}
.nav1 ul .active a {
	color: #cdd569; /*Light Green/Yellow*/
	text-decoration: none;
}

/*Secondary Nav Bar*/
.nav2 {
	background-color: #4c9598; /*Medium Green*/
	margin-bottom: 35px;
	padding-top: 8px;
	padding-bottom: 8px;
}
.nav2 a{
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;	
	color: #333333; /*Dark Gray*/
}
.nav2 ul li {
	display: inline;
	padding-right: 40px;
	padding-left: 40px;
}
.nav2 li:not(.active) a:hover {
	color: #2a544a; /*Dark Green*/
	text-shadow: 1px 1px 18px rgba(204, 204, 102, 0.6);
	text-decoration: none;
}
.nav2 ul .active a {
	color: #cdd569; /*Light Green/Yellow*/
	text-decoration: none;
}

/*Both Nav Bars*/
.nav1, .nav2 {
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
	text-align: center;
}
.nav1 ul, .nav2 ul {
	margin: 0px;
}


/*Headers*/
h1 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 72px;
	text-transform: uppercase;
	color: #333333; /*Dark Gray*/
	text-shadow: 1px 1px 18px rgba(204, 204, 102, 0.4);
	-webkit-text-stroke: 1px #94bcd1; /*Light Green*/
}

h2 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 48px;
	text-transform: uppercase;
	color: #7f2d56; /*Maroon*/
	margin-top: 0px;
	margin-bottom: 20px;
}

h3 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 30px;
	color: #7f2d56; /*Maroon*/
	margin-bottom: 5px;
}
.long {
	font-size: 25px;
}

h4 {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 36px;
	color: white;
	margin-bottom: 27px;
}


/*Paragraphs*/
p {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 14px;
	color: black;
	padding-left: 20px;
	padding-bottom: 10px;
}

.price {
	padding-left: 0px;
	font-weight: bold;
}

.description {
	padding-left: 0px;
	text-align: left;
	height: 125px;
}


/*Hours Classes*/
.hoursbox {
	border: 4px solid #2a544a; /*Dark Green*/
	padding: 20px;
}
.hours {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	padding-top: 5px;
}


/*Callout Classes*/
.callout {
	position: relative;
}

.callout-content {
	text-shadow: -1px 1px 3px rgba(0, 0, 0, 0.5);
	position: absolute;
	left: 20px;
	top: 225px;
}

.callout-text {
	width: 400px;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 18px;
	line-height: 23px;
	font-weight: bold;
	color: white;
}


/*About-Us Picture Classes*/
.about-pics {
	box-shadow: 5px 5px 5px #7C7C7C;
}

/*Product Image Class*/
.item {
	text-align: center;
	margin-top: 20px;

}


/*Footer*/
.footer {
	background-color: #4c9598; /*Medium Green*/
	margin-top: 100px;
	margin-bottom: 0px;
	border-bottom: 6px solid #2a544a; /*Dark Green*/
	border-top: 3px solid #2a544a; /*Dark Green*/
	text-align: center;
}

.footer-text {
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #2a544a; /*Dark Green*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-bottom: 0px;
}
.footer-text li {
	display: inline;
	padding-left: 0px;
	padding-right: 20px;
}
.copyright {
	font-family: "Open Sans Condensed", Arial, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #2a544a; /*Dark Green*/
	margin-top: 0px;
	margin-bottom: 2px;
	padding-top: 0px;
}